.messages-box {
    min-height: 92vh;
    max-height: 92vh;
    overflow-y: scroll;
  }
  
  .recent {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .tuc {
    background-color: #a19f9f;
    color: rgb(118, 19, 19);
  }